Vectorization

In [1]:
import pandas as pd

without vectorization

In [2]:
df = pd.DataFrame({'numbers':[1,2,3,4,5]})
df['plus_10'] = df['numbers'].apply(lambda x:x+10)

In [3]:
print(df)

   numbers  plus_10
0        1       11
1        2       12
2        3       13
3        4       14
4        5       15

with vectorization

In [6]:
df['plus_10'] = df['numbers'] + 50

In [7]:
print(df)

   numbers  plus_10
0        1       51
1        2       52
2        3       53
3        4       54
4        5       55

In [9]:
df['times_2'] = df['numbers']*2

In [10]:
df

   numbers  plus_10  times_2
0        1       51        2
1        2       52        4
2        3       53        6
3        4       54        8
4        5       55       10

In [11]:
df = pd.DataFrame({
    'name':['alice','bob','charlie']})

df['upper'] = df['name'].str.upper()

In [12]:
df

      name    upper
0    alice    ALICE
1      bob      BOB
2  charlie  CHARLIE

In [13]:
df['date'] = pd.to_datetime(['2025-01-01','2025-02-01','2025-03-01'])
df['month'] = df['date'].dt.month

In [14]:
df

      name    upper       date  month
0    alice    ALICE 2025-01-01      1
1      bob      BOB 2025-02-01      2
2  charlie  CHARLIE 2025-03-01      3

Categorical Data

In [21]:
df = pd.DataFrame({
    'Gender':['male','female','female','male']
})

df['Gender']
print("Data type:",df['Gender'].dtype)
print("memory usage",df['Gender'].memory_usage(deep=True))

Data type: object
memory usage 348

In [27]:
df['Gender'] = df['Gender'].astype('category')
print(df['Gender'])
print("data type",df['Gender'].dtype)

print("memory used(category)",df['Gender'].memory_usage(deep=True))

0      male
1    female
2    female
3      male
Name: Gender, dtype: category
Categories (2, object): ['female', 'male']
data type category
memory used(category) 352

In [29]:
import pandas as pd

df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'green', 'red'],
    'value': [10, 15, 20, 25, 30, 35]
})

df['color'] = df['color'].astype('category')


print(df.groupby('color').sum())

       value
color
blue      40
green     50
red       45

C:\Users\naman.maheshwari\AppData\Local\Temp\ipykernel_7624\357092849.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('color').sum())

In [31]:
import pandas as pd

df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'green', 'red'],
    'value': [10, 15, 20, 25, 30, 35]
})
df['color'] = df['color'].astype('category')
print(df.groupby('color', observed=True).sum())

       value
color
blue      40
green     50
red       45